@import url("../../custom.css");

/* *, *::before, *::after {
   margin: 0 !important;
   padding: 0 !important;
   box-sizing: border-box !important;
} */

.body {
   background-color: var(--white-toned) !important;
   /* position: relative !important; */
   /* width: 100% !important; */
   height: 100vh !important;
}

.body .container {
   height: 100vh !important;
   display: flex !important;
   align-items: center !important;
   justify-content: center !important;
   padding-block: 5rem !important;
}

.form{
   max-width: 650px !important;
   width: 90% !important;
}

form.form {
   padding: 80px 130px !important;
}

.form-verify {
   max-width: 600px !important;
   width: 100% !important;
   padding: 30px 60px !important;
}

.form-verify .form-heading {
   margin-bottom: 2rem !important;
}

.form-fields .light-bordered, .google-signin-btn {
   border: 1px solid #f1f1f5 !important;
}

input.placeholder-style::placeholder {
   color: var(--content-dark) !important;
   font-family: "Inter", sans-serif !important;
   font-weight: 400 !important;
   font-size: 16px !important;
}

.eye-icon {
   top: 51.5% !important;
   right: 5% !important;
}

/* .google-img {
   max-width: 30px;
   width: 100%;
   height: 30px;
} */

.signin-text {
   color: #11142d !important;
}

@media (max-width: 768px) {
   form.form {
      padding: 50px 80px !important;
   }
}

@media (max-width: 576px) {
   .form {
      width: 100% !important;
   }
   form.form {
      padding: 30px 30px !important;
   }
}

@media (max-width: 360px) {
   form.form {
      padding: 40px 15px !important;
   }
   .remember-password {
      flex-direction: column !important;
      align-items: start !important;
      row-gap: 1rem;
   }
}